/* Body */

body {

    background-color: #99A7FF;
    
    font-family: Handlee;
    color: #FF8DA6;
}

img {

    max-width: 100%;

}

/* Headings Settings */

h1, h2, h3, h4, h5, h6 {

    font-family: "Patrick Hand";
    font-size: 4rem;

    text-align: center;
}

h1{
    font-size: 5rem;
}

h2 {
    margin: 0.1em;
}

h3 {
    font-size: 3.5rem;
}

/* Header */

header {
    text-align:center;
    color: #FF8DA6;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #fabac8;
}

/* Hero , Footer */

#hero, footer {


    color: #FFDE73;

    border: 15px double #FF8DA6;
    background-color: #8CD9FF;

    text-align: center;

    padding: 10px;

    font-family: "Patrick Hand";

    font-size: 2rem;
    font-weight: 500;
    font-style: oblique;
    
}

footer a {

    font-family: "Patrick Hand";
    color: #6779ff;
    font-size: 2.3rem;
    padding: 0.5rem 2rem;
    letter-spacing: 2px;
    text-decoration: none;
    display: inline-block;

}

/* Bio */

#bio {

    text-align: center;

    font-size: 2rem;
    font-weight: 600;
    color: #80FFE5;
}

#bio h2, h3 {

    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #d7fff7;
}

#bio h3 {

    border-bottom: 10px dotted#80FFE5;
}

/* Hobbies */

#hobbies {

    font-family: "Patrick Hand";
    text-align: center;
    
    font-size: 3rem;
    font-weight: 600;
    color:#FFDE73;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #fcfbd5;
}

ul { 
	display: inline-block; 
	text-align: left; 
	}

#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.books, .games {

    font-size: 2.5rem;
    color: #8CD9FF;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #bbe8ff;

}

/* Gallery */

#gallery {

    border: 20px double #FF8DA6;
    margin-bottom: 2rem;

    text-align:center;
    color: #80FFE5;
    font-size: 1.5rem;

}

#gallery img {

    max-width: 100%;
    border: 10px double #80FFE5;
}

#gallery h2 {

    color:#FF8DA6;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #fabac8;
}

#gallery .effect {
    /* float: left;
    display: inline-block; */
    width: 100%;
    margin-right: 1.5%;
    position: relative;
    cursor: pointer;
}
#gallery .effect img {
    max-width: 100%
}
#gallery .effect figcaption {
    text-decoration: none;
  color: #fff;
  width: 100%;
  left: 0;
  text-align: center;
  font-size: 25px;
  height: 0px;
  position: absolute;
  transition: 0.5s ease all;
    visibility: hidden;
    opacity: 0;
  bottom: 0px;
}	
#gallery .effect:hover figcaption {
  background-color: #2e4dff66;
  visibility: visible;
  height: 0.5%;
  padding: 27.25% 0;
  opacity: 1;
}

/* #lit div {
    max-width: 100%;
    columns: 40rem;
} */


/* Literature */

#lit {

    border: 20px double #8CD9FF;
    margin-bottom: 2rem;
    color:#FFDE73;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(252, 251, 213);


}

#lit .blog {

    padding: 1rem;
    max-width: 80%;
    margin: 0 auto;
    color:#FFDE73;
    font-size: 1.5rem;
}


#lit div p:nth-child(1):first-letter {

    color:#8CD9FF;
    font-family: "Patrick Hand";

    background-image: radial-gradient(  #b9c1f8,#6779ff);
    float:left;
    font-size: 4rem;
    padding:.25em;
    margin-right:.25em;
    line-height: .8;
    border: 5px double #FF8DA6;
    text-shadow: 2px 2px 3px #fabac8;
    box-shadow: 5px 5px 5px #bbe8ff;
    border-radius: 1.5rem;
}

#lit div p:nth-child(5):first-letter {

    color:#8CD9FF;
    font-family: "Patrick Hand";

    background-image: radial-gradient(  #b9c1f8,#6779ff);
    float:left;
    font-size: 4rem;
    padding:.25em;
    margin-right:.25em;
    margin-bottom: 1rem;
    line-height: .8;
    border: 5px double #FF8DA6;
    text-shadow: 2px 2px 3px #fabac8;
    box-shadow: 5px 5px 5px #bbe8ff;
    border-radius: 1.5rem;
}

#lit div p:nth-child(8):first-letter {

    color:#8CD9FF;
    font-family: "Patrick Hand";

    background-image: radial-gradient(  #b9c1f8,#6779ff);
    float:left;
    font-size: 4rem;
    padding:.25em;
    margin-right:.25em;
    line-height: .8;
    border: 5px double #FF8DA6;
    text-shadow: 2px 2px 3px #fabac8;
    box-shadow: 5px 5px 5px #bbe8ff;
    border-radius: 1.5rem;
}

#lit div p:nth-child(12):first-letter {

    color:#8CD9FF;
    font-family: "Patrick Hand";

    background-image: radial-gradient(  #b9c1f8,#6779ff);
    float:left;
    font-size: 4rem;
    padding:.25em;
    margin-right:.25em;
    line-height: .8;
    border: 5px double #FF8DA6;
    text-shadow: 2px 2px 3px #fabac8;
    box-shadow: 5px 5px 5px #bbe8ff;
    border-radius: 1.5rem;
}

#lit div p:nth-child(16):first-letter {

    color:#8CD9FF;
    font-family: "Patrick Hand";

    background-image: radial-gradient(  #b9c1f8,#6779ff);
    float:left;
    font-size: 4rem;
    padding:.25em;
    margin-right:.25em;
    line-height: .8;
    border: 5px double #FF8DA6;
    text-shadow: 2px 2px 3px #fabac8;
    box-shadow: 5px 5px 5px #bbe8ff;
    border-radius: 1.5rem;
}


/* video */

#video {

    border: 20px double #FF8DA6;
    margin-bottom: 2rem;

    text-align:center;
    color: #80FFE5;
    font-size: 1.5rem;
    

}

#video iframe {

    max-width: 100%;
    border: 10px double #80FFE5;
}

#video h2 {

    color:#FF8DA6;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #fabac8;
}

/* Contact Form */

#formElements {

    display: grid;
    row-gap: 0.5em;

}

#contact {

    padding: 1rem;
    max-width: 600px;
    margin: 2rem auto;

    color: #80FFE5;
    font-size: 1.5rem;
}

#contact h2 {

    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #d7fff7;

}

fieldset {

    border: 10px double #6779ff;
    margin-top: 1em;
    margin-bottom: 1em;

}

legend {

    background-color: #6779ff;
    color: #80FFE5;
    padding: 0.5em;
    border: 2px dashed #80FFE5;

}

#contact input, #contact textarea, #contact select, #contact button {

    padding: 0.5em;
    font-size: 1rem;

    background-color: #6779ff;
    color: white;
    padding: 0.5em;
    border: 2px dashed #80FFE5;

}

#contact ul {

    list-style: none;
    padding: 0px;

}

#contact li {

    margin: 0.7rem;

}

#contact button {

    background-color: #6779ff;
    color: #80FFE5;
    padding: 0.5em;
    border: 2px dashed #80FFE5;
    max-width: 400px;
    width: 50%;
    justify-self: center;
    

}

/* tablet size */

@media screen and (min-width: 700px) {

    #hero img {

        max-width: 30%;
    
    }

    #hero p, footer {

        font-size: 2rem;
    }

    figure {
        display: grid;
        grid-template-columns: 2fr;
    }

    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 2rem;
        margin-left: 1rem;
    }

    figure img {
        width: 100%;
    }

    #gallery .effect {
        /* float: left;
        display: inline-block; */
        width: 100%;
        margin-right: 1.5%;
        position: relative;
        cursor: pointer;
    }
    #gallery .effect img {
        max-width: 100%
    }
    #gallery .effect figcaption {
        text-decoration: none;
      color: #fff;
      width: 100%;
      left: 0;
      text-align: center;
      font-size: 40px;
      height: 0px;
      position: absolute;
      transition: 0.5s ease all;
        visibility: hidden;
        opacity: 0;
      bottom: 0px;
    }	
    #gallery .effect:hover figcaption {
      background-color: #2e4dff66;
      visibility: visible;
      height: 0.5%;
      padding: 27.25% 0;
      opacity: 1;
    }

    /* #lit div {
        max-width: 50%;
        columns: 50rem;
    } */

    #video h2 {
        grid-column: -1/1;
    }

    #video{
        display: grid;
        grid-template-columns: 1fr;
    }

}

/* large screen size */

@media screen and (min-width: 100em) {

    #hero {
        max-width: 70%;
        margin-left: 15rem;

    }

    #hero div{

        display: flexbox;
        justify-content: left;

    }

    #hero p {
        display: flex;
        justify-content:center;
        align-items: center;
        

        font-size: 2rem;
        margin-left: 1rem;
    }

    #hero img {

        max-width: 30%;
        display: inline-block;
    
    }

    #gallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr {
        display: none;
    }

    #gallery h2 {
        grid-column: 1/-1;
    }

    figure {
        display: block;
    }

    #gallery .effect {
        /* float: left;
        display: inline-block; */
        width: 100%;
        margin-right: 1.5%;
        position: relative;
        cursor: pointer;
    }
    #gallery .effect img {
        max-width: 100%
    }
    #gallery .effect figcaption {
        text-decoration: none;
      color: #fff;
      width: 100%;
      left: 0;
      text-align: center;
      font-size: 40px;
      height: 0px;
      position: absolute;
      transition: 0.5s ease all;
        visibility: hidden;
        opacity: 0;
      bottom: 3px;
    }	
    #gallery .effect:hover figcaption {
      background-color: #2e4dff66;
      visibility: visible;
      height: 0.5%;
      padding: 32% 0;
      margin-left: 1px;
      opacity: 1;
    }

    #video h2 {
        grid-column: -1/1;
    }

    #video{
        display: grid;
        grid-template-columns: 1fr;
    }

    /* #lit div {
        max-width: 100%; 
        columns: 30rem;
    } */

    
}
