/* Body */

body {

    background-color: #99A7FF;
    
    font-family: Handlee;
    color: #FF8DA6;
}

img {

    max-width: 100%;

}

/* Headings Settings */

h1, h2, h3, h4, h5, h6 {

    font-family: "Patrick Hand";
    font-size: 4rem;

    text-align: center;
}

h1{
    font-size: 5rem;
}

h2 {
    margin: 0.1em;
}

/* Header */

header {
    text-align:center;
    color: #FF8DA6;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #fabac8;
}

/* Hero , Footer */

#hero, footer {


    color: #FFDE73;

    border: 15px solid #FF8DA6;
    background-color: #8CD9FF;

    text-align: center;

    padding: 10px;

    font-family: "Patrick Hand";

    font-size: 3rem;
    font-weight: 500;
    font-style: oblique;
    
}


/* Bio */

#bio {

    text-align: center;

    font-size: 2rem;
    font-weight: 600;
    color: #80FFE5;
}

#bio h2 {

    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #d7fff7;
}

/* Hobbies */

#hobbies {

    font-family: "Patrick Hand";
    text-align: center;
    
    font-size: 3rem;
    font-weight: 600;
    color:#FFDE73;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(252, 251, 213);
}

ul { 
	display: inline-block; 
	text-align: left; 
	}

#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Gallery */

#gallery {

    border: 20px double #FF8DA6;
    margin-bottom: 2rem;

    text-align:center;
    color: #80FFE5;
    font-size: 1.5rem;

}

#gallery img {

    max-width: 100%;
    border: 10px double #80FFE5;
}

#gallery h2 {

    color:#FF8DA6;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #fabac8;
}

/* Literature */

#lit {

    border: 20px double #8CD9FF;
    margin-bottom: 2rem;
    color:#FFDE73;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(252, 251, 213);


}

#lit div {

    padding: 1rem;
    max-width: 100%;
    margin: 0 auto;
    color:#FFDE73;
    font-size: 1.5rem;
}

#lit div p:nth-child(1):first-letter {

    color:#8CD9FF;
    font-family: "Patrick Hand";

    background-image: radial-gradient(  #b9c1f8,#6779ff);
    float:left;
    font-size: 4rem;
    padding:.25em;
    margin-right:.25em;
    line-height: .8;
    border: 5px double #FF8DA6;
    text-shadow: 2px 2px 3px #fabac8;
    box-shadow: 5px 5px 5px #bbe8ff;
    border-radius: 1.5rem;
}

#lit div p:nth-child(2):first-letter {

    color:#8CD9FF;
    font-family: "Patrick Hand";

    background-image: radial-gradient(  #b9c1f8,#6779ff);
    float:left;
    font-size: 4rem;
    padding:.25em;
    margin-right:.25em;
    line-height: .8;
    border: 5px double #FF8DA6;
    text-shadow: 2px 2px 3px #fabac8;
    box-shadow: 5px 5px 5px #bbe8ff;
    border-radius: 1.5rem;
}

#lit div p:nth-child(3):first-letter {

    color:#8CD9FF;
    font-family: "Patrick Hand";

    background-image: radial-gradient(  #b9c1f8,#6779ff);
    float:left;
    font-size: 4rem;
    padding:.25em;
    margin-right:.25em;
    line-height: .8;
    border: 5px double #FF8DA6;
    text-shadow: 2px 2px 3px #fabac8;
    box-shadow: 5px 5px 5px #bbe8ff;
    border-radius: 1.5rem;
}

#lit div p:nth-child(12):first-letter {

    color:#8CD9FF;
    font-family: "Patrick Hand";

    background-image: radial-gradient(  #b9c1f8,#6779ff);
    float:left;
    font-size: 4rem;
    padding:.25em;
    margin-right:.25em;
    line-height: .8;
    border: 5px double #FF8DA6;
    text-shadow: 2px 2px 3px #fabac8;
    box-shadow: 5px 5px 5px #bbe8ff;
    border-radius: 1.5rem;
}

#lit div p:nth-child(15):first-letter {

    color:#8CD9FF;
    font-family: "Patrick Hand";

    background-image: radial-gradient(  #b9c1f8,#6779ff);
    float:left;
    font-size: 4rem;
    padding:.25em;
    margin-right:.25em;
    line-height: .8;
    border: 5px double #FF8DA6;
    text-shadow: 2px 2px 3px #fabac8;
    box-shadow: 5px 5px 5px #bbe8ff;
    border-radius: 1.5rem;
}

#lit div p:nth-child(17):first-letter {

    color:#8CD9FF;
    font-family: "Patrick Hand";

    background-image: radial-gradient(  #b9c1f8,#6779ff);
    float:left;
    font-size: 4rem;
    padding:.25em;
    margin-right:.25em;
    line-height: .8;
    border: 5px double #FF8DA6;
    text-shadow: 2px 2px 3px #fabac8;
    box-shadow: 5px 5px 5px #bbe8ff;
    border-radius: 1.5rem;
}

/* video */

#video {

    border: 20px double #FF8DA6;
    margin-bottom: 2rem;

    text-align:center;
    color: #80FFE5;
    font-size: 1.5rem;
    

}

#video iframe {

    max-width: 100%;
    border: 10px double #80FFE5;
}

#video h2 {

    color:#FF8DA6;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #fabac8;
}


/* tablet size */

@media screen and (min-width: 60em) {
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 2rem;
        margin-left: 1rem;
    }

    figure img {
        width: 100%;
    }

    #lit div {
        max-width: 100%;
        columns: 30rem;
    }

    #video h2 {
        grid-column: -1/1;
    }

    #video{
        display: grid;
        grid-template-columns: 1fr;
    }

}

/* large screen size */

@media screen and (min-width: 100em) {
    #gallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr {
        display: none;
    }

    #gallery h2 {
        grid-column: 1/-1;
    }

    figure {
        display: block;
    }

    #video h2 {
        grid-column: -1/1;
    }

    #video{
        display: grid;
        grid-template-columns: 1fr;
    }

    #lit div {
        max-width: 100%;
        columns: 30rem;
    }
}
